.sidenav-container{
  width: 20%;
  background-color: #f5f5f5;
  padding: 20px;
  height: 100%;
}

.channel-section{
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.add-channel-input{
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.channel-list{
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.channel-list li{
  display: inline-block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
}

.channel-list li:hover{
  background-color: white;
}

.channel-list li a:hover{
  cursor: default;
}

.active{
  background-color: pink;
}
